/* nazov tagu ako selektor cez ciarku viem naraz viacej selektnut html tagov a dat im rovnaky style*/

html,
body {
  height: 100%;
}

/*nepoužívať iba na zisťovanie prečo moje elementy nerobia to čo chcem*/

/*
* { 
  border: 1px solid red !important; 
}
*/

/* nazov tagu ako selektor a do kučeravých zatvoriek píšem styles { sem picem schopnosti } */

div {
  border: 1px solid black;
  /*  border vam vytvorí ramček okolo selektnutých div html tagov bude 1px hruby a čiernej farby */
}

/* nazov tagu ako selektor */

span {
  border: 1px solid blue;
  /*  border vam vytvorí ramček okolo selektnutých span html tagov bude 1px hruby a modrej farby */
}

/* nazov tagu ako selektor */

p {
  font-size: 30px;
}

/*selectnem p tagy ktore maju class .orange*/

p.orange {
  color: orange;
}

/*selektli sme vsetky elementy ktore maju v atribute class nazov list t.j. napr <ul class="list"></ul>
*/

.list {
  border: 1px solid black;
  /*  border vam vytvorí ramček okolo selektnutých div html tagov bude 1px hruby a čiernej farby */
  background-color: blue;
  /*  background-color pridava selektnutemu elementu cez atribut class modre pozadie */
}

/* druhy class selektor vieme pouzivat viacej selektorov naraz pre jeden element napr <ul class="list list-specialny"></ul> */

.list-specialny {
  background-color: red;
}

/*selectnem vsetky li elementy ktore su obalene elementami ktoré maju v atribute class nazov list-specialny */

.list-specialny li {
  display: inline-block;
  /* pomocou display: inline-block; poviem nech elementy zaperaju len tolko kolko potrebuju */
}

/* .bold { 
  font-weight: bold; 
} */

.orange {
  color: black;
}

.jancibacinastalujmito {
  background-color: green;
}

/* id ako selector nepouzivat!!! */

#intro {
  color: red;
}

.link {
  display: inline-block;
  text-decoration: none;
}

/*----- speciality -----*/

/*!important nepouzivat a nenechavat ho v kode*/

/*strong { 
  color: blue !important; 
} */

div>strong {
  background-color: red;
}

/* priama nadradenosť selektnem vsetky div strong elementy ktore su obalene div elementom */

div strong {
  background-color: pink;
}

/* selektnem vsetky strong elementy ktore su obalene div elementom */

div>strong {
  background-color: red;
}

.link {
  color: green;
}

/* toto ma vyššiu prioritu ako classa a html tag */
a[title] {
  color: blue;
  font-size: 50px;
}

/* sleketnem vsetky a tagy v body ktore maju atribut title */
a {
  color: red;
}

a.link {
  color: green;
}

.pseudo-selektor li:first-child {
  color: red;
}

.pseudo-selektor li:last-child {
  color: red;
}

.pseudo-selektor li:nth-child(3) {
  color: green;
}

button:disabled {
  background-color: black;
}

/* pseudo trieda ak pridem mysou nad selectnute p tagy tak pridam mu tieto styles*/
a:hover {
  font-weight: bold;
  text-decoration: underline;
}