/* nazov tagu ako selektor cez ciarku viem naraz viacej selektnut html tagov a dat im rovnaky style */ 
html, 
body { 
  height: 100%; 
} 
 
/* nepoužívať iba na zisťovanie prečo moje elementy nerobia to čo chcem */
/*
* { 
  border: 1px solid red !important; 
}
*/

/* nazov tagu ako selektor a do kučeravých zatvoriek píšem styles { sem picem schopnosti } */ 
div { 
  border: 1px dotted black;  /* border vam vytvorí ramček okolo selektnutých div html tagov bude 1px hruby a čiernej farby */
} 

/* nazov tagu ako selektor */
p { 
  /* border vam vytvorí ramček okolo selektnutých span html tagov bude 1px hruby a modrej farby */
  border: 1px solid blue;
} 
