
.main-container {
  position: relative;
}

.navigation {
  position: fixed;
  background-color: black;
  max-height: 80px;
  top: 0;
  left: 0;
  right: 9px;
}

.navigation-list {
  display: table;
  padding: 30px;
}

.navigation-list-li {
  display: table-cell;
  padding: 10px;
  margin: 10px;
}

.main-content {
  padding-top: 80px;
  height: 2000px;
}