body {
 background-color: black;
}

hr {
  color: white;
}

.holder-content {
  position: relative;
}

.wrapper-content {
  padding: 100px 200px 70px 250px;
}

.content {
  border: 5px solid white;
}

.title-heading-big {
  text-align: center;
  color: white;
  font-size: 22px;
  padding: 20px;
  border: 3px solid yellow;
}

.link {
  display: block;
  color: white;
  font-size: 18px;
  padding: 20px;
}

.link:hover {
  text-decoration: underline;
  color: black;
  background-color: white;
}

.list-flex {
  display: flex;
}

.list-flex-start {
  align-items: flex-start;
}

.list-flex-center {
  align-items: center;
}

.list-flex-end {
  align-items: flex-end;
}

.list-flex-li {
  flex: 1;
}

.list-float-li {
  float: left;
  width: calc(100% / 3);
  padding: 20px;
}

.list-text {
  padding: 20px 0;
}

.list-text-li {
  padding-left: 40px;
}

.list-text .list-text-li:first-child {
  padding-left: 0;
}

.list-text-li p {
  color: yellow;
  font-size: 18px;
}

.wrapper-list {
  clear: both;
}

.title-heading-medium {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px;
  border: 3px solid yellow;
}

.list-box p {
  background-color: white;
  padding: 5px;
}

.box-red {
  background-color: red;
  padding: 20px;
}

.box-blue {
  background-color: blue;
  padding: 40px;
}

.box-green {
  background-color: green;
  padding: 60px;
}

.title-hint {
  position: absolute;
  color: white;
  font-size: 35px;
  opacity: .7;
}

.title-hint.top,
.title-hint.bottom {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.title-hint.right,
.title-hint.left {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.title-hint.bottom {
  top: auto;
  bottom: 10px;
}

.title-hint.left {
  right: auto;
  left: 10px;
}

