$icomoon-font-link: 'yzyqqi';

$black: #000;
$white: #FFF;
$eastern-blue: #1EA2AF;
$bondi-blue: #0096a4;
$blue-lagoon: #008B95;
$pelorous: #4A96C7;
$eastern-blue2: #1696A3;
$wattle: #DFD346;
$sinbad: #A0CBD4;
$apple: #4BCB31;
$mulberry: #c6538c;
$tundora: #444;
$mercury: #e1e1e1;
$wild-sand: #f5f5f5;
$dusty-gray: #999;
$cod-gray: #1D1D1D;
$coral: #FF7946;
$meteorite: #30267E;
$mountain-meadow: #13A564;
$torch-red: #EB002A;
$nepal: #8B9DC3;
$boulder: #757575;