.btn-medium,
.btn-small {
    display: block;
    padding: 10px 40px;

    &:hover {
        background-color: $bondiBlue;
    }
}

.btn-medium {
    background-color: $easterBlue;
    color: $white;
}

.btn-small {
    color: $easterBlue;
    border: 1px solid $easterBlue;
}
