.title {
  &-big {
    font-weight: bold;
    font-size: 47px;
  }

  &-medium {
    font-size: 28px;
  }

  &-small {
    font-size: 24px;
  }

  &-primary {
    color: $white;
  }
  
  &-secondary {
    color: $charcoal;
  }

  &-mark {
    color: $darkCyan;
  }
}